<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>autosavedContentsBookmark</key>
		<data>
		Ym9va+ADAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAA3AIAAAUAAAABAQAAVXNlcnMAAAAGAAAAAQEAAFNhbGx6egAABwAAAAEB
		AABMaWJyYXJ5ABQAAAABAQAAQXV0b3NhdmUgSW5mb3JtYXRpb24iAAAAAQEA
		AFVuc2F2ZWQgWGNvZGUgRG9jdW1lbnQueGN3b3Jrc3BhY2UAABQAAAABBgAA
		BAAAABQAAAAkAAAANAAAAFAAAAAIAAAABAMAAPlmAgAAAAAACAAAAAQDAACj
		OAkAAAAAAAgAAAAEAwAAFTkJAAAAAAAIAAAABAMAAJRJBAEAAAAACAAAAAQD
		AABZGh4BAAAAABQAAAABBgAAmAAAAKgAAAC4AAAAyAAAANgAAAAIAAAAAAQA
		AEG+jB2bAAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAA
		BAMAAAMAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAAB
		AQAATWFjaW50b3NoIEhECAAAAAQDAAAAQP4xdAAAAAgAAAAABAAAQblescYA
		AAAkAAAAAQEAADQ4M0E2QzA0LTAxQTEtM0M2NS1CQUQ2LUVEN0YxRjY4Q0M3
		NxgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA
		AAAAAAEFAADeAAAAAQIAAGExYjhkMjM2YzNjMjBhOGYyNmQzYTkzMDMzMTVl
		YThhMDRkZjU0MjY7MDAwMDAwMDA7MDAwMDAwMDA7MDAwMDAwMDAwMDAwMDAy
		MDtjb20uYXBwbGUuYXBwLXNhbmRib3gucmVhZC13cml0ZTswMDAwMDAwMTsw
		MTAwMDAwNDswMDAwMDAwMDAxMWUxYTU5Oy91c2Vycy9zYWxsenovbGlicmFy
		eS9hdXRvc2F2ZSBpbmZvcm1hdGlvbi91bnNhdmVkIHhjb2RlIGRvY3VtZW50
		Lnhjd29ya3NwYWNlAAAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAfAAAAAAA
		AAAFEAAA6AAAAAAAAAAQEAAAFAEAAAAAAABAEAAABAEAAAAAAAACIAAA4AEA
		AAAAAAAFIAAAUAEAAAAAAAAQIAAAYAEAAAAAAAARIAAAlAEAAAAAAAASIAAA
		dAEAAAAAAAATIAAAhAEAAAAAAAAgIAAAwAEAAAAAAAAwIAAA7AEAAAAAAAAB
		wAAANAEAAAAAAAARwAAAFAAAAAAAAAASwAAARAEAAAAAAACA8AAA9AEAAAAA
		AAA=
		</data>
		<key>isExpendable</key>
		<true/>
		<key>recordDate</key>
		<date>2017-03-29T16:51:39Z</date>
		<key>uniquingNumber</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
